.info {
    width: 100%;
    background-color: #eaf2fd;
    display: flex;
    flex-direction: row;
}

.info-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 80%;
    margin: 64px auto;
}

.info-logo {
    width: 5rem;
    height: 5rem;
}

.info-logo-img {
    margin-left: 40%;
    width: 100%;
    height: 100%;
}

.logo-acerca-de {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 2rem;
}

.acerca-de {
    display: flex;
    flex-direction: column;
    align-items: inherit;
    margin-left: 90px;
    gap: 27px;
    width: 50%;
}

.acerca-de-link {
    color: #464646;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

/* .acerca-de-link:hover {
    
} */

.contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    margin: 2rem auto;
}

.contact-title {
    color: #464646;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form-name {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 75%;
    height: 3rem;
}

.contact-form-name::placeholder {
    padding-left: 15px;
    color: #a2a2a2;
}

.contact-form-message {
    border: 1px solid #e5e5e5;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
    width: 75%;
    height: 10rem;
}

.contact-form-message::placeholder {
    color: #a2a2a2;
    padding-left: 15px;
    padding-top: 10px;
}

.contact-form-btn {
    border: solid #2A7AE4 1px;
    align-self: flex-start;
    background: #2a7ae4;
    color: #fff;
    width: 144px;
    height: 51px;
    margin-bottom: 15px;
    transition: all 0.5s;
}

.contact-form-btn:hover {
    background: #fff;
    color: #2a7ae4;
    cursor: pointer;
    border: 1px solid #2a7ae4;
    transform: scale(1.1);
    transition: all 0.7s;
}

@media (min-width:320px) and (max-width: 768px) {
    .info {
        display: block;
    }
    .acerca-de {
        text-align: center;
        font-size: 2rem;
        padding-top: 2rem;
    }
    .logo-acerca-de {
        display: block;
    }
    .contact-form-message {
        width: 20rem;
        height: 12rem;
    }
    .contact-form-name {
        width: 20rem;
        height: 1.5rem;
    }
    .contact-form-btn {
        width: 8.5rem;
        height: 2rem;
    }
}